/.bundle

# Ignore bundler gems.
vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/uploads

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

.env
