<div class="search-form margin-bottom-10">
  <form method="GET" action="/tasks" class="form-horizontal">
      <div class="row">
        <div class="col-sm-11 padding-bottom-10">
          <div class="form-group col-sm-6">
            <label class="col-sm-5 control-label">課題種別</label>
            <div class="col-sm-7">
              <%= select_tag 'task_category_id', options_for_select(task_categories_options.map{|a| [a.task_category_title, a.id]}, params[:task_category_id]), {:class => 'form-control', :include_blank => INCLUDE_BLANK_MESSAGE} %>
            </div>
          </div>
          <div class="form-group col-sm-5">
            <label class="col-sm-5 control-label">課題タイトル</label>
            <div class="col-sm-7">
              <%= text_field_tag :task_title, params[:task_title], :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="col-sm-1 search-btn margin-top-10">
            <button class="btn btn-block btn-success">検索</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
