<div class="search-form margin-bottom-10">
  <form method="GET" action="/users/search" class="form-horizontal">
      <div class="row">

        <div class="col-lg-12 padding-bottom-10">
          <label class="col-lg-2 control-label">ユーザー名</label>
          <div class="col-lg-4">
            <%= text_field_tag :user_name, params[:user_name], :class => 'user_name form-control' %>
          </div>
          <label class="col-lg-2 control-label">職種</label>
          <div class="col-lg-4">
            <%= select_tag :job_type, options_for_select(job_types_options.map{|a| [a.job_type_name, a.id]}, params[:job_type]), {class: 'form-control', include_blank: INCLUDE_BLANK_MESSAGE } %>
          </div>
        </div>

      </div>

        <div class="col-lg-1 search-btn">
          <input type="submit" class="btn btn-success" value="検索"></input>
        </div>
      </div>
    </div>
  </form>
</div>
