<section class="content-header">
  <h1>利用者登録</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
    <li>利用者一覧</li>
    <li class="active">利用者登録</li>
  </ol>
</section>
<div id="user-new">
  <section class="content user-list-block-1">
    <div class="new-form">
      <div class="table-responsive">
        <fieldset>
          <div class="form-group col-md-7 has-error">
            <label for="inputName" class="col-md-2 control-label">Name<span></span></label>
            <div class="col-md-7">
              <input type="text" class="form-control" id="inputName" placeholder="Name" required autofocus="true">
              <p class="help-block">You should really write something here</p>
            </div>
          </div>
          <div class="form-group col-md-7">
            <label for="inputEmail" class="col-md-2 control-label">Email</label>
            <div class="col-md-7">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
              <p class="help-block">You should really write something here</p>
            </div>
          </div>
          <div class="form-group col-md-7">
            <label for="inputPassword" class="col-md-2 control-label">Password</label>
            <div class="col-md-7">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" required min="6" max="15">
            </div>
          </div>
          <div class="form-group col-md-7">
            <label for="inputJob" class="col-md-2 control-label">Job</label>
            <div class="col-md-7">
              <select id="select111" class="form-control">
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </section>
</div>
