<div id="book-tile">
  <div>
    <section class="content book-block-1">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-default">
            <div class="box-header">
              <p class="font-bold font-size-20">おすすめ書籍</p>
            </div>
            <div class="box-body">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    SlideImage
                  </div>
                  <div class="swiper-slide">
                    SlideImage
                  </div>
                  <div class="swiper-slide">
                    SlideImage
                  </div>
                  <div class="swiper-slide">
                    SlideImage
                  </div>
                  <div class="swiper-slide">
                    SlideImage
                  </div>
                  <div class="swiper-slide">
                    SlideImage
                  </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div><!-- box-body -->
          </div><!-- box -->
        </div>
      </div><!-- row -->
    </section>
  </div>
</div>
