<div class="content-header-outer">
  <section class="content-header">
    <h1>
      書籍新規登録
    </h1>
  </section>
</div>
  <!-- content start -->
  <%= form_for @book, :html => {:class => 'form-horizontal'} do |f| %>
    <section class="content book-info-block-1 margin-top-50">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
