/* 書籍一覧 */
.book-list-block-1
  .search-form
    background: #f9f9f9
    padding: 1px
    border-radius: 3px
    border: 1px solid #f3f3f3
.book-list-block-1
  .search-form
    .control-label
      padding-left: 0
.book-list-block-1
  .search-form
    .search-btn
      padding: 0
.book-list-block-1
  .search-form
    .search-btn > button
      float: right
      width: 100px
.books-search-block-1
  .search-box
    background: #f9f9f9
    padding: 1px
    border-radius: 3px
    border: 1px solid #f3f3f3
li.book-search-result
  display: inline-block
  padding-left: 10px
  margin: 10px 10px
  img
    width: 230px
    min-height: 150px
.data-get-from
  opacity: 0
  position: absolute
