/* 共通 */
.margin-left-5 {
  margin-left: 5px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-right-5 {
  margin-left: 5px !important;
}
.margin-right-10 {
  margin-left: 10px !important;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.form-control {
  height: 40px;
}
.font-bold {
  font-weight: bold;
}
.font-size-20 {
  font-size: 20px;
}
.float-center {
  float: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.swiper-container {
  width: 100%;
  height: 200px;
}
.swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box !important;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
