<!DOCTYPE html>
<html>
  <head>
    <%= render '/layouts/head' %>
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <!-- logo start-->
      <!-- logo end-->
      <!-- login-box start -->
      <%= yield %>
      <!-- login-box end -->
    </div>

    <script>
      $(function () {

        //iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });

      });
    </script>
  </body>
</html>
